<mat-selection-list (selectionChange)="onSelectionChange($event)">
    <mat-radio-group [(ngModel)]="selectedCard">
        <mat-list-option *ngFor="let card of cards$ | async; let i = index " [value]="card.id">
        <mat-icon mat-list-icon>
        <mat-radio-button color="primary" [value]="card.id" (change)="selection = $event.value">
        </mat-radio-button>
        </mat-icon>
            <h4 mat-line>Ending in ...{{ card.card.last4 }}</h4> 
            <p mat-line> {{ card.card.brand }}</p> 
            <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
        </mat-list-option>
    </mat-radio-group>
</mat-selection-list>