<h1>Donuts Heaven!</h1>

<div *ngIf="auth.user$ | async as user; else login">

  <img [src]="user.photoURL" width="100">
  <hr>
  <button mat-flat-button color="warn" (click)="auth.signOut()">Sign Out</button>

  <hr>


  <div class="card"> 
      <div class="card-image">
        <img src="./assets/donuts.jpg" width="400">
      </div>
    <div class="card-content">
        <app-checkout [amount]="2000" description="Donuts"></app-checkout>
        <!-- <app-elements [amount]="2000" description="People Meat"></app-elements> -->
        
    </div>
  </div>

  <app-select-card></app-select-card>

  <router-outlet></router-outlet>


</div>



<ng-template #login>
  <button mat-flat-button color="primary" (click)="auth.googleSignIn()">Login with Google</button>
</ng-template>

